.signalOff {
	background-color: red;
}

.signalOn {
	background-color: Chartreuse;
}

div.wire {
	height: 4px;
	width: 30px;
}

/* And this to your table's `td` elements. */
#LogicBlock td {
   padding: 0; 
   margin: 0;
}